docs/EDSIntegration/Person.ServiceProvider.Teacher/services.ospi.k12.wa.us.Person.ServiceProvider.Teacher.2010.4.12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12" elementFormDefault="qualified" targetNamespace="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Person.ServiceProvider.Teacher" />
  <xs:element name="GetTeachersByCertificateNumberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="certificateNumbers" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachersByCertificateNumberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Person.ServiceProvider.Teacher" minOccurs="0" name="GetTeachersByCertificateNumberListResult" nillable="true" type="q2:ArrayOfTeacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherByCertificateNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="certificateNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherByCertificateNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Person.ServiceProvider.Teacher" minOccurs="0" name="GetTeacherByCertificateNumberResult" nillable="true" type="q3:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachersBySchoolCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schoolCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachersBySchoolCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Person.ServiceProvider.Teacher" minOccurs="0" name="GetTeachersBySchoolCodeResult" nillable="true" type="q4:ArrayOfTeacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>