docs/EDSIntegration/Person.ServiceProvider.Teacher/services.ospi.k12.wa.us.Person.ServiceProvider.Teacher.2010.4.12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12/Imports">
      <xsd:import namespace="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Person.ServiceProvider.Teacher" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TeacherService_GetTeachersByCertificateNumberList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersByCertificateNumberList" />
  </wsdl:message>
  <wsdl:message name="TeacherService_GetTeachersByCertificateNumberList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersByCertificateNumberListResponse" />
  </wsdl:message>
  <wsdl:message name="TeacherService_GetTeacherByCertificateNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherByCertificateNumber" />
  </wsdl:message>
  <wsdl:message name="TeacherService_GetTeacherByCertificateNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherByCertificateNumberResponse" />
  </wsdl:message>
  <wsdl:message name="TeacherService_GetTeachersBySchoolCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersBySchoolCode" />
  </wsdl:message>
  <wsdl:message name="TeacherService_GetTeachersBySchoolCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersBySchoolCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="TeacherService">
    <wsdl:operation name="GetTeachersByCertificateNumberList">
      <wsdl:input wsaw:Action="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12/TeacherService/GetTeachersByCertificateNumberList" message="tns:TeacherService_GetTeachersByCertificateNumberList_InputMessage" />
      <wsdl:output wsaw:Action="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12/TeacherService/GetTeachersByCertificateNumberListResponse" message="tns:TeacherService_GetTeachersByCertificateNumberList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherByCertificateNumber">
      <wsdl:input wsaw:Action="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12/TeacherService/GetTeacherByCertificateNumber" message="tns:TeacherService_GetTeacherByCertificateNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12/TeacherService/GetTeacherByCertificateNumberResponse" message="tns:TeacherService_GetTeacherByCertificateNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeachersBySchoolCode">
      <wsdl:input wsaw:Action="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12/TeacherService/GetTeachersBySchoolCode" message="tns:TeacherService_GetTeachersBySchoolCode_InputMessage" />
      <wsdl:output wsaw:Action="http://services.ospi.k12.wa.us/Person/ServiceProvider/Teacher/2010/4/12/TeacherService/GetTeachersBySchoolCodeResponse" message="tns:TeacherService_GetTeachersBySchoolCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>